example-workflows/3-historical-rate-workflow.json
{
  "name": "Example: Get Historical Rate with Fallback",
  "nodes": [
    {
      "parameters": {},
      "id": "g3h4i5j6-k7l8-9012-defg-234567890123",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "rate",
        "operation": "getRate",
        "state": "Iowa",
        "additionalFields": {
          "date": "2020-01-01"
        }
      },
      "id": "h4i5j6k7-l8m9-0123-efgh-345678901234",
      "name": "Get Historical Rate",
      "type": "n8n-nodes-surplus-lines-undtec.surplusLinesApi",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "surplusLinesApi": {
          "id": "1",
          "name": "Surplus Lines API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the response from Get Historical Rate node\nconst response = $input.all()[0].json;\n\n// Determine if fallback was used\nconst usingFallback = response.fallback_used || false;\n\n// Format the output for display\nreturn [\n  {\n    json: {\n      state: response.state,\n      query_date: response.query_date,\n      tax_rate: response.rate.tax_rate,\n      tax_rate_percentage: (response.rate.tax_rate * 100).toFixed(2) + '%',\n      stamping_fee: response.rate.stamping_fee,\n      stamping_fee_percentage: response.rate.stamping_fee ? (response.rate.stamping_fee * 100).toFixed(3) + '%' : 'N/A',\n      effective_from: response.rate.effective_from,\n      effective_to: response.rate.effective_to || 'Current',\n      legislative_source: response.rate.legislative_source,\n      confidence: response.rate.confidence,\n      fallback_status: usingFallback ? '⚠️ FALLBACK USED' : '✅ Historical Data Available',\n      fallback_message: response.fallback_message || 'N/A',\n      message: usingFallback \n        ? `Warning: Historical data unavailable for ${response.state} on ${response.query_date}. Current rate returned instead.`\n        : `Successfully retrieved historical rate for ${response.state} on ${response.query_date}`\n    }\n  }\n];"
      },
      "id": "i5j6k7l8-m9n0-1234-fghi-456789012345",
      "name": "Format Historical Rate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Get Historical Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Historical Rate": {
      "main": [
        [
          {
            "node": "Format Historical Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-12T12:00:00.000Z",
  "versionId": "1"
}
